.container__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* height: calc(100vh + 11vh); */
    margin: 1rem;
    font-family: 'Oswald', sans-serif;
    animation: presentation 1s linear 0s normal;
}

.title__div {
    display: block;
    font-weight: bold;
    margin: 2rem 0;
    width: 100%;
    text-align: center;
}

.container__review__about_me {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img__about_me {
    width: 50%;
    border: 3px solid tomato;
    border-radius: 100%;
}

.button__up {
    position: fixed;
    z-index: 110;
    /* top: calc(100vh - 4rem);
    right: 2rem; */
    bottom: 5.5rem;
    right: 1rem;
    width: 65px;
    height: 65px;
    background: #ff9900;
    border-radius: 100%;
    animation: zoom 1.5s linear 1s infinite alternate;
}

.button__up__2 {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.button__down {
    position: fixed;
    z-index: 110;
    /* top: calc(100vh - 4rem);
    right: 2rem; */
    bottom: 1rem;
    right: 1rem;
    width: 65px;
    height: 65px;
    background: #ff9900;
    border-radius: 100%;
    animation: zoom 1.5s linear 1s infinite alternate;
}

.button__down__2 {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

@keyframes zoom {
    from {}
    to {
        transform: scale(0.8);
        opacity: 0.3;
    }
}

.a{
    z-index: 110;
}


/* mobile */

@media (min-width: 700px) {
    .title__div {
        margin: 3rem 0;
    }

    .img__about_me{
        width: 25%;
    }

    .text__about_me {
        margin: 1rem;
        padding: 1rem;
        font-size: 2rem;
    }
}

@media screen and (min-width:992px) and (max-width: 1400px) {
    .container__section{
        height: 100vh;
    }

    .container__review__about_me {
        display: flex;
        margin: 2rem;
    }

    .img__about_me {
        margin-left: 10rem;
    }

    .text__about_me {
        width: 70%;
        padding: 5rem;
        text-align: left;
    }
}

@media screen and (min-width: 1400px) {
    .container__section{
        height: 100vh;
    }

    .container__review__about_me {
        display: flex;
        margin: 2rem;
    }

    .img__about_me {
        margin-left: 20rem;
    }

    .text__about_me {
        width: 70%;
        padding: 10rem;
        text-align: left;
    }
}

