.mobile {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: tomato; 
    color: #000;   
}

.container__nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.link__perfil {
    width: 33px;
    height: 33px;
}

.name__portfolio {
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 1rem;
}

.img__menu {
    width: 33px;
}