.projects {
    height: auto;
}

.list__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container__card {
    margin: 2rem 0;
    background-color: #ababab;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    box-shadow: 1em 1em 1em -1em gray;
    transition: all .5s ease;
}

.subtitle {
    margin: 1rem 0;
    color: black;
    font-weight: bold;
    transition: all .5s ease;
}

.container__card:hover .subtitle {
    color: #fff;
}

.container__card:hover {
    background-color: #000;
}

.title{
    margin: 1rem 0;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.container__img, .container__link {
    color: black;
    position: relative;
    background-color: black;
}

.container__img:hover .container__detail{
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
}


.container__img:hover .img__projects {
    filter: blur(2px);
}

.img__projects {
    width: 100%;
}

.container__img .container__detail {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all .5s ease;
}

.back__circle {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #999999;
    opacity: .8;
    cursor: pointer;
    transition: all .5s ease;
}

#vertical__bar {
    padding: 2rem 0.6rem;
    border-radius: 10px;
    background-color: #000;
    position: absolute;
    width: 10px;
}

#horizontal__bar {
    padding: 0.6rem 2rem;
    border-radius: 10px;
    background-color: #000;
    position: absolute;
    width: 10px;
}

.ocultar {
    display: none;
}

.back__circle:hover {
    background-color: #000;
}

.back__circle:hover #vertical__bar{
    background-color: #999999;
}
.back__circle:hover #horizontal__bar{
    background-color: #999999;
}

.container__link {
    padding: 1rem;
    background-color: #b9b9b982;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 20px 20px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    width: 40%;
    transition: all .5s ease;
}

.link:hover {
    background-color: #808080;
    color: #fff !important;
}

a:hover {
    color: inherit !important;
}

.link__img {
    display: flex;
    width: 100%;
    height: 3rem;
}

.container__card .description {
    width: 100%;
    left: 0;
    position: absolute;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    transition: all .7s cubic-bezier(0.01, 0.66, 0.54, 1.12);
    visibility: visible !important;
    opacity: 0;
}


#playerzone, #gifApp, #apuntadorDeTareas, #rickyandmorty, #formulario, #expresionesRegulares {
    padding: 2rem 2rem 0;
    margin: 0;
    text-align: justify;
    font-size: .9rem;
}

.list__caracteristicas {
    padding: 1rem 4rem 2.4rem;
    margin: 0;
    text-align: justify;
    font-size: .9rem;
}

.container__close__description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    margin-bottom: 1rem;
}

.container__close__description:hover {
    cursor: pointer;
}

.container__close__description:hover #close__bar__left, .container__close__description:hover #close__bar__right {
    background-color: #fff;
}

#close__bar__left {
    width: 33px;
    rotate: 45deg;
    position: absolute;
    background-color: #999999;
    transition: all .5s ease;
}

#close__bar__right {
    width: 33px;
    rotate: -45deg;
    position: absolute;
    background-color: #999999;
    transition: all .5s ease;
}


/* desktop */

@media screen and (min-width: 700px) and (max-width: 900px) {
    .list__projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container__card {
        margin: 2rem;
        width: 40%;
        position: relative;
    }
}

@media screen and (min-width: 900px) {
    .list__projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container__card {
        margin: 2rem;
        width: 40%;
        position: relative;
    }
}

@media screen and (min-width: 1200px) {
    .container__card {
        margin: 4rem;
        width: 25%;
        position: relative;
    }

    .container__card .description {
        width: 100%;
        position: absolute;
        background-color: rgb(19, 19, 19);
        color: #acacac;
        border-radius: 20px;
        visibility: visible !important;
        transition: all .7s cubic-bezier(0.01, 0.66, 0.54, 1.12);
        opacity: 0;
    }

    .description__text {
        padding: 2rem 3rem 5rem;
        margin: 0;
        text-align: justify;
        font-size: 1.1rem;
        transition: all .5s ease;
    }

    .description__text:hover, .list__caracteristicas:hover {
        color: #fff;
    }

    .list__caracteristicas {
        padding: 1rem 4rem 3.4rem;
        margin: 0;
        text-align: justify;
        font-size: 1.1rem;
        transition: all .5s ease;
    }
}

