:root {
    --blueligth: #25dbdb;
    --blueDark: rgb(16 23 47);
    --whiteLigth: rgb(219 233 237);
    --titles: "Poppins";
    --Texts: "Inter"
}

html,
body {
    scroll-behavior: smooth;
    height: 100vh;
}

/* animacion para orbitar la imagen */

@media screen and (max-width: 450px) {
    .subtitle__portfolio {
        font-size: 1rem !important;
    }
}

.perspective-container {
    perspective: 1000px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 300px;
}

.orbit-container {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 17%;
    left: 13%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: orbit3d 5s linear infinite;
}


.orbiting-object {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(150px);
}

@keyframes orbit3d {
    0% {
        transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
    }
}

.container__presentation {
    padding: 1rem;
    padding-top: 4rem;
    animation: presentation .5s linear 0s normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes presentation {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.container__home {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative; /* Context for absolute positioning if needed */
}

.container__home__title {
    margin: 0;
    margin-top: 4rem;
}

.container__title {
    text-align: justify;
    margin: 0 10px 10px 10px;
    font-family: var(--titles), sans-serif;
    font-weight: 700;
    overflow: hidden;
}

.title__portfolio {
    font-size: 3rem;
}

.subtitle__portfolio {
    text-transform: uppercase;
    text-wrap: nowrap;
    width: 0ch;
    color: black;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.5rem;
    animation: typewriter 3s 1s infinite alternate-reverse;
    position: relative;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    display: inline-block; /* Ensure it respects width */
}

/* desplazamiento de escritura */
@keyframes typewriter {
    from {
        width: var(--typewriter-chars);
    }
}

.text__portfolio {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: var(--Texts);
    margin: 10px;
}

.list__social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2rem;
}

.br__black {
    border-right: 2px solid var(--blueDark);
}

.br__gray {
    border-right: 2px solid var(--whiteLigth);
}

a {
    text-decoration: none !important;
}

.img__social__networks {
    margin: 0 1rem;
}


.social__networks:hover .img__social__networks {
    transform: scale(1.1);
}

.b {
    color: var(--blueDark) !important;
}

.bg__black {
    background: #10172f !important;
    transition: all .5s ease;
}

.bg__gray {
    background: #dbe9ed !important;
    transition: all .5s ease;
}

.w {
    color: var(--whiteLigth) !important;
}

/* mobile */

@media screen and (max-width:365px) {
    .title__portfolio {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 525px) {
    .title__portfolio {
        letter-spacing: 0.2rem;
    }
}

@media screen and (min-width: 500px) {
    .a {
        display: none;
    }
}

@media screen and (min-width: 968px) {

    .orbit-container {
        width: 300px;
        height: 300px;
        top: 0%;
        left: 43%;
    }

    .container__home {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 5rem 0;
        width: 100%;
        height: 100%;
    }

    .container__home__title {
        width: 50%;
        margin: 0;
    }

    .container__presentation {
        padding: 6rem 3rem 3rem;
        background: lightgrey;
    }

    .subtitle__portfolio {
        animation: typewriter 3s 1s infinite alternate-reverse;
        font-size: 2rem;
    }

    .list__social {
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        margin: 1rem 0;
        width: fit-content;
    }
}

@media screen and (min-width:992px) and (max-width: 1400px) {
    .orbit-container {
        left: 0%;
    }
}

@media screen and (min-width: 1400px) {

    .orbit-container {
        left: 0%;
    }
}