* {
    padding: 0;
    margin: 0;
}

:root {
    --blueligth: #25dbdb;
}

html,
body {
    scroll-behavior: smooth;
    height: 100vh;
}

.App__header {
    animation: presentation 1s linear 0s normal;
    margin-bottom: 2rem;
}

.container__presentation {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    background: lightgrey;
    border-radius: 20px;
}

@keyframes presentation {
    from {transform: translateY(-50px);
    opacity: 0;}
    to {transform: translateY(0);
    opacity: 1;}
}

.container__bw {
	width: 100%;
    padding-top: 3rem;
	background-color: white;
	transition: 0.5s all ease-in;
}

.wraper {
	width: 100%;
	max-width: 1388px;
	margin: auto;
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
    padding-right: 1rem;
}

.switch {
	position: relative;
	width: 60px;
	height: 35px;
	border-radius: 38px;
	background-color: #5e5e5e;
	transition: 1s all ease-in;
}

.button__bw {
	position: absolute;
	cursor: pointer;
	bottom: 5px;
	left: 5px;
	width: 25px;
	height: 25px;
	border:  none;
	border-radius: 58%;
	background-color: #fff;
	transition: 0.4s all ease-in;
	outline: none;
}

.container__home {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    width: 100%;
}

.container__home__title {
    margin: 0;
}

.container__title {
    text-align: justify;
    margin: 0 10px 10px 10px;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;    
}

.title__portfolio {
    font-size: 3rem;
}

.subtitle__portfolio {
    text-transform: uppercase;
    width: 100%;
    color: black;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.5rem;
    animation: typewriter 4s ease-in-out 1s infinite alternate both;
    position: relative;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
}

.text__portfolio {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: 'Oswald';
    margin: 10px;
}

.list__social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2rem;
}

.br__black {
    border-right: 2px solid rgba(0, 0, 0, 0.75);
}

.br__gray {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
  }


.pitch {
    width: 100%;
    display: block;
}

.menu__mobile {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(0deg, rgb(205 205 205), rgb(62 62 62));
    height: 100%;
    animation: presentation 0.2s ease-in-out 0s normal;
    z-index: 99;
    color: #000;
}

.list__nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

.item__list {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #000;
}

.dissemble {
    display: none;
    opacity: 0;
}

a {
    text-decoration: none !important;
}

.footer {
    background: linear-gradient(0deg, rgb(62 62 62 / 80%), rgb(205 205 205) 70.71%);
    border-radius: 20px;
    margin: 1rem;
}

.div__footer {
    padding: 2rem 0 1rem 0;
    text-align: center;
}

.text__footer {
    margin: 1rem;
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .5s ease;
    text-align: center;
}

.text__footer:hover {
    color: #fff;
}

.img__social__networks {
    margin: 0 1rem;
}


.social__networks:hover .img__social__networks {
    transform: scale(1.1);
}

.b{
    color: #000 !important;
}

.bg__black {
    background:  #101010 !important;
    transition: all .5s ease;
}

.bg__gray {
    background: lightgray !important;
    transition: all .5s ease;
}

.w {
    color: #fff !important;
}

/* mobile */

@media screen and (max-width:365px) {
    .title__portfolio {
        font-size: 1.9rem;
    }
}
@media screen and (min-width: 525px) {
    .title__portfolio {
        letter-spacing: 0.2rem;
    }
}

@media screen and (min-width: 500px) {
    .a {
        display: none;
    }
}

@media screen and (min-width: 968px) {
    /* .App__header {
        height: 100vh;
    } */
    .container__bw {
        padding-top: 0;
    }

    .container__home {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 5rem 0;
        width: 100%;
    }

    .container__home__title {
        width: 50%;
    }

    .container__presentation {
        margin: 0 1rem 1rem 1rem;
        padding: 3rem 3rem 0 3rem;
        background: lightgrey;
        border-radius: 20px;
    }

    .subtitle__portfolio {
        animation: typewriter 3s ease-in-out 1s infinite alternate both;
        font-size: 2rem;
    }

    .list__social {
        display: flex;
        justify-content: start;
        align-items: center;
        list-style: none;
        margin: 1rem 0;
    }

    .container__img__pitch {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    .pitch {
        width: 100%;
    }

    .circle:hover {
        background-color: #ff9900;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
}